packages/**/*.js
packages/**/*.jpg
packages/**/*.jpeg
packages/**/*.png
packages/**/*.gif
packages/**/*.mp4
packages/**/*.svg
packages/**/*.eot
packages/**/*.ttf
packages/**/*.woff
packages/**/*.css


.eslintrc.json
node_modules
build
dist
src/assets