node_modules
dist
yarn-error.log
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.env
.yarn-integrity
yarn.lock

# macOS
.DS_Store
